@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

:root {
  --mainTextColor: #fff;
  --secondaryTextColor: #c7c7c7;
  --mainLinkColor: #2196f3;
  --mainBorderColor: #2b3031;
  --mainBgColor: #141413;
}

* {
  font-family: "Share Tech Mono", monospace;
  line-height: 1.5em;
  box-sizing: border-box;
  color: var(--mainTextColor);
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: var(--mainBgColor);
}
::-webkit-scrollbar-thumb {
  background: var(--mainLinkColor);
  border-radius: 10px;
  transition: 1s;
}

.typing {
  position: relative;
}
.typing::after {
  content: "|";
  position: absolute;
  right: 0;
  width: 100%;
  color: var(--mainLinkColor);
  background: var(--mainBgColor);
  animation: typing 3s steps(19) forwards, caret 1s infinite;
}
@keyframes typing {
  to {
    width: 0;
  }
}
@keyframes caret {
  50% {
    color: transparent;
  }
}

body {
  background-color: var(--mainBgColor);
}

p,
span,
li {
  color: var(--secondaryTextColor);
  font-size: 1em;
}

a {
  text-decoration: none;
  color: var(--mainLinkColor);
  font-weight: 900;
  transition: 0.2s;
}

a:hover {
  color: var(--mainTextColor);
}

li {
  line-height: 1.9em;
}

#container--main {
  max-width: 700px;
  margin: 0 auto;
}

.section--page {
  padding-top: 1em;
  padding-bottom: 1em;
}

#wrapper--hero {
  display: flex;
  align-items: center;
  gap: 4em;
}

#user-name {
  font-size: 3em;
  line-height: 1em;
}

#bio {
  font-weight: 300;
}

#profile-pic {
  border: 2.7px solid;
  border-color: var(--mainLinkColor);
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

#socials--list {
  display: flex;
  justify-content: space-between;
  column-gap: 1em;
  flex-wrap: wrap;
}

#socials--list a {
  font-size: 0.9em;
  transition: 0.3s;
}

#socials--list a:hover {
  color: var(--mainTextColor);
}

#qualifications--list {
  list-style: none;
}

#wrapper--tech__items {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  font-size: 0.9em;
}

.card--tech {
  border: 1px solid var(--mainBorderColor);
  padding: 0.5em 1em;
  border-radius: 5px;
}

.card--tech_title {
  color: var(--mainTextColor);
}

.card--work-history {
  border-left: 1px solid var(--mainBorderColor);
  margin-top: 3em;
  margin-bottom: 3em;
  padding-left: 2em;
}

.line-break {
  background-color: var(--mainBorderColor);
  height: 1px;
}

.card--project {
  padding-top: 1em;
  padding-bottom: 1em;
  border-top: 1px solid var(--mainBorderColor);
}

.card--project a {
  color: var(--mainTextColor);

  transition: 0.3s;
}

.card--project a:hover {
  color: var(--mainLinkColor);
}

.back {
  margin-top: 60px;
}

@media (max-width: 600px) {
  .section--page {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  #wrapper--hero {
    gap: 1em;
    flex-direction: column;
  }

  #profile-pic {
    width: 200px;
    height: 200px;
  }

  .card--work-history {
    border-left: none;
    padding-left: 0;
  }
}
